@use 'dplayer-extend';

// @link https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/
/* Adjusted columns width */
@mixin grid-cols-adjusted($min-cols, $max-cols, $cols-min-width, $row-gap: 0px, $col-gap: 0px) {
    --min-cols: #{$min-cols};
    --max-cols: #{$max-cols};
    --cols-min-width: #{$cols-min-width};
    --row-gap: #{$row-gap};
    --col-gap: #{$col-gap};

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min((100%/var(--min-cols) - var(--col-gap)*(var(--min-cols) - 1)/var(--min-cols)), max(var(--cols-min-width), (100%/var(--max-cols) - var(--col-gap)*(var(--max-cols) - 1)/var(--max-cols)))), 1fr));
    gap: var(--row-gap) var(--col-gap);
}

/* Fixed columns width */
@mixin grid-cols-fixed($min-cols, $max-cols, $cols-min-width, $row-gap: 0px, $col-gap: 0px) {
    --min-cols: #{$min-cols};
    --max-cols: #{$max-cols};
    --cols-min-width: #{$cols-min-width};
    --row-gap: #{$row-gap};
    --col-gap: #{$col-gap};

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, min((100%/var(--min-cols) - var(--col-gap)*(var(--min-cols) - 1)/var(--min-cols)), max(var(--cols-min-width), (100%/var(--max-cols) - var(--col-gap)*(var(--max-cols) - 1)/var(--max-cols))))));
    gap: var(--row-gap) var(--col-gap);
}

:root {
    --theme-image-border-radius: 1rem;
}

.site-title {
    a {
        display: flex;
        align-items: center;
        gap: .5rem;

        &:before {
            content: '';
            display: inline-block;
            width: 3rem;
            height: 3rem;
            background: url(../../assets/images/icon.png) no-repeat center center;
            background-size: cover;
            transition: .3s background-image;
        }

        &:hover:before {
            background: url(../../assets/images/icon-active.png) no-repeat center center;
            background-size: cover;
        }

    }
}

.player-area {
    video {
        width: 100%;
    }
}

.item-header {
    display: flex;
    gap: 1rem;
    font-size: 14px;

    .thumbnail {
        width: 6rem;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 1.5rem;
        margin: 0;
    }

    .subtitle {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
    }
}

[data-archive=default][data-layout*=grid],
[data-archive=default][data-layout=classic],
[data-archive=default][data-layout=simple] {
    .entry-card {
        .ct-media-container {
            +.entry-meta {
                margin-top: -52px;
                margin-bottom: 0;
                position: relative;
                line-height: 32px;
                text-align: right;
                color: #fff;
                padding: 0 12px;
                text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
            }
        }
    }
}

[data-prefix="wptv_post_archive"] .entries {
    --grid-template-columns: repeat(8, minmax(0, 1fr));
}

@media (min-width:960px) {
    .play-container {
        display: flex;
        gap: 1rem;

        .player-area {
            flex: 1;
            width: calc(100% - 30rem);

            video {
                aspect-ratio: 16/9;
                background: #000;
            }
        }

        .info-area {
            width: 30rem;
        }
    }

}

.source-provider-switch-containerd {
    height: 3rem;
    position: relative;
}

.source-provider-switch-listd {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    li {
        display: block;
        padding: 0 1rem;
        height: 3rem;
        line-height: 3rem;
        background: #333;
        color: #fff;

        &:not(.current) {
            display: none;
        }
    }
}

.item-loop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;

    /* Grid systems */
    $min-cols: 3;
    $max-cols: 8;
    $cols-min-width: 10rem;
    $row-gap: 1rem;
    $col-gap: 1rem;

    // @include grid-cols-adjusted($min-cols, $max-cols, $cols-min-width, $row-gap, $col-gap);

    h2 {
        font-size: 1rem;
    }

    .ct-media-container {
        border-radius: 8px;
    }
}

@mixin hide-scrollbar() {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollable-container {
    width: 100%;
    // position:relative;

    .prev,
    .next {
        position: absolute;
        top: 0;
        height: 100%;
        cursor: pointer;

        &[disabled] {
            display: none;
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
}

.scrollable-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    // margin:0 2rem;
    gap: 1rem;
    @include hide-scrollbar();
    // position:relative;

    overflow-x: scroll;
    overflow-wrap: break-word;

    >* {
        width: 10rem;
        flex: 0 0 auto;
    }
}

.source-area {
    background: #ddd;
}

.source-list-container {
    height: 2.5rem;
    position: relative;
}

.source-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    position: absolute;
    z-index: 2;
    width: 100%;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        line-height: 2rem;
        padding: 4px .5rem;

        .episode-count {
            display: inline-block;
            background: #000;
            color: #fff;
            font-size: 12px;
            border-radius: 1rem;
            padding: 4px 8px;
            line-height: 1;
            margin-inline-start: .5rem;
        }

        .speed {
            font-size: 14px;
        }

        &:before {
            content: '•';
            font-size: 2rem;
            margin-top: -4px;
            margin-right: 4px;
        }

        >*:last-child {
            flex: 1;
            text-align: right;
        }

        &.speed-low {
            .speed {
                color: red;
            }
        }

        &.speed-medium {
            .speed {
                color: orange;
            }
        }

        &.speed-high {
            .speed {
                color: green;
            }
        }

        &.active {
            background: #eee;
        }
    }

    &:not(.open) {
        li:not(.active) {
            display: none;
        }
    }
}

.episode-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 1rem;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12ch, 1fr));
    gap: .5rem;

    li {
        display: block;
        padding: .25rem 1rem;
        border-radius: 4px;
        text-align: center;
        background: #eee;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;

        .name {
            white-space: nowrap;
        }

        &.active {
            background: #000;
            color: #fff;
        }
    }
}

#video {
    clip-path: inset(1px 1px);
}

.related-items {
    &[data-layout="grid"] {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    &[data-layout="list"] {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >div {
            display: flex;
            gap: 1rem;
            align-items: center;
            font-size: 14px;

            .ct-media-container {
                width: 5rem;
            }

            h2 {
                font-size: 1rem;
                margin: 0;

                a {
                    color: #000;
                }
            }
        }
    }
}

.filters {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 1rem 0;
}

.filter-group {

    &__header {
        white-space: nowrap;

        padding: 4px 0;
        border: 1px solid transparent;
    }

    &__body {
        overflow: hidden;
        overflow-x: scroll;

        @include hide-scrollbar();
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 0;
        margin-bottom: 0;

        a {
            display: inline-block;
            padding: 4px 1rem;
            border: 1px solid transparent;
            border-radius: 4px;
            white-space: nowrap;

            color: #444;

            &:hover {
                color: #7f5700;
            }

            &.active {
                background: #f2e0c9;
                color: #7f5700;
            }
        }
    }
}